{% extends 'layouts/app.html' %}



{% block content %}
<div class="container col-md-8 col-md-offset-2">
    <form method="get" action="/words/search">
      <div class="input-group form-group">
        <input type="text" name="word" placeholder="输入单词" class="form-control">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">搜索</button>
        </span>
      </div>
    </form>

    <div class="container">
      
    </div>

    <div class="well">
      
      <strong>每日一词</strong>

      <h2>{{ dailyWord.name }}</h2>
      <div style="margin:20px 0px;">
        <span>英:[{{ dailyWord.UK }}] </span>
        <button class="glyphicon glyphicon-volume-up"  audio-type="audio_uk"> </button> 
        <span style="margin-left:10px">美:[{{ dailyWord.US }}] </span>
        <button class="glyphicon glyphicon-volume-up" audio-type="audio_us"></button>
      </div>
      <audio id="audio_uk" src="{{ dailyWord.UKMP3 }}"></audio>
      <audio id="audio_us" src="{{ dailyWord.USMP3 }}"></audio>
      <div class="form-group">
        {{ dailyWord.interpetation|safe }}
      </div>

    </div>

  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $("button[audio-type]").click(function(e) {
          var mp3;
          e.preventDefault();
          mp3 = document.getElementById($(this).attr('audio-type'));
          mp3.play();
      });
    })
    
  </script>
{% endblock %}

